
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarMarca( input.value )" type="text" class="form-control" placeholder="Buscar marca">

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-9">
                        <h3 *ngIf="activos" class="card-title">Marcas activas ( <small>{{ totalRegistros }}</small> )</h3>
                        <h3 *ngIf="!activos" class="card-title">Marcas inactivas ( <small>{{ totalRegistros }}</small> )</h3>
                    </div>
                    <div class="col-3 button-group">
                        <button *ngIf="!activos" (click)="cargarMarcas()" type="button" class="btn btn-success btn-rounded"><i class="fa fa-check"></i> Ver activos</button>
                        <button *ngIf="activos" (click)="cargarMarcas(false)" type="button" class="btn btn-danger btn-rounded"><i class="fa fa-close"></i> Ver inactivos</button>
                        <button (click)="agregarMarca()" type="button" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let marca of marcas">
                            <td class="w70">
                                <img (click)="mostrarModal( marca )" [src]="marca.img | imagen" class="img-50 img-circle pointer">
                            </td>
                            <td><input [(ngModel)]="marca.nombre" name="nombre" type="text" class="form-control" ></td>
                            <td>
                                <select [(ngModel)]="marca.activo" name="role" class="form-control">
                                    <option value="true">ACTIVO</option>
                                    <option value="false">INACTIVO</option>
                                </select>
                            </td>
                            <td class="button-group">
                                <button (click)="guardarMarca( marca )" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarMarca( marca )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div *ngIf="totalRegistros > 5" class="button-group">
                    <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                        Anteriores
                    </button>
    
                    <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                        Siguientes
                    </button>
                </div>




            </div>
        </div>
    </div>
</div> 
