<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div *ngIf="global" class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Configuracion</th>
                                <th>Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Carrito</td>
                                <td>
                                    <select [(ngModel)]="global.carrito" name="carrito" class="form-control">
                                        <option value="true">ACTIVO</option>
                                        <option value="false">INACTIVO</option>
                                    </select>
                                </td>
                                <td class="button-group text-center">
                                    <button (click)="guardar( global )" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Mantenimiento</td>
                                <td>
                                    <select [(ngModel)]="global.mantenimiento" name="mantenimiento" class="form-control">
                                        <option value="true">ACTIVO</option>
                                        <option value="false">INACTIVO</option>
                                    </select>
                                </td>
                                <td class="button-group text-center">
                                    <button (click)="guardar( global )" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>FlipBook</td>
                                <td>
                                    <input type="text" [(ngModel)]="global.flipBook" name="flipBook" class="form-control">
                                </td>
                                <td class="button-group text-center">
                                    <button (click)="guardar( global )" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div> 
