<!-- <p>

    git init <br>
    git add . <br>
    git commit -m "mensaje..."<br>
    <br>
    Con esto tenemos un repositorio completamente funcional en nuestra máquina local, <br>
    pero seguramente querremos enviar todos estos archivos<br>
    al repositorio compartido para que el resto de usuarios puedan descargarlo.<br>
    <br>
    git push origin master<br>
    <br>
    Ahora tenemos el código tanto en nuestra máquina local como en el repositorio remoto, preparado y listo para que el resto de desarrolladores lo descarguen.<br>
    <br>
    En cualquier otra máquina, podremos conectarnos al nuevo repositorio y realizar la copia a local para empezar a trabajar. <br>
    Para ello en la carpeta donde deseemos alojar el proyecto:<br>
    <br>
    git init<br>
    git remote add origin link del proyecto<br>
    git pull origin master<br>
    <br><br>
    TAGS<br>
    <br>
    git tag <br>
    <br>
    para ver los tag actuales<br>
    <br>
    git tag -a v1.4.0 -m "descripcion"<br>
    <br>
    Creamos el Tag con la version correspondiente<br>
    <br>
    git push --tags<br>
    <br>
    Subimos el tag a Git<br>
    <br>
    Falta crear el Release en Git<br>

</p> -->


<div class="row" *ngIf="graficos">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                    <app-grafico-dona [etiquetas]="graficos.grafico1.labels" [valores]="graficos.grafico1.data" [tipo]="graficos.grafico1.type" [leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>
