<p>dashboard works!</p>

<p>

    git add . <br>
    git commit -m "mensaje..."<br>
    <br>
    Con esto tenemos un repositorio completamente funcional en nuestra máquina local, <br>
    pero seguramente querremos enviar todos estos archivos<br>
    al repositorio compartido para que el resto de usuarios puedan descargarlo.<br>
    <br>
    git remote add<br>
    git push origin master<br>
    <br>
    Ahora tenemos el código tanto en nuestra máquina local como en el repositorio remoto, preparado y listo para que el resto de desarrolladores lo descarguen.<br>
    <br>
    En cualquier otra máquina, podremos conectarnos al nuevo repositorio y realizar la copia a local para empezar a trabajar. <br>
    Para ello en la carpeta donde deseemos alojar el proyecto:<br>
    <br>
    git init<br>
    git remote add origin link del proyecto<br>
    git pull origin master<br>



</p>