<div class="col-12">


    <h2 class="text-right">TOTAL DE ARTICULOS <span class="badge badge-pill badge-primary">{{ totalCantidad }}</span></h2>
    <hr>


    <div class="row">
        <div (click)="verNuevos()" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-default">NUEVOS</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-dark">{{ nuevosCantidad }}</span></h1>
            </div>
        </div>
        <div (click)="verActivosoInactivos( 'Activos', true )" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-success">ACTIVOS</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-success">{{ activosCantidad }}</span></h1>
            </div>
        </div>
        <div (click)="verActivosoInactivos( 'Inactivos', false )" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-danger">INACTIVOS</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-danger">{{ inactivosCantidad }}</span></h1>
            </div>
        </div>

        <div (click)="verMailing()" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-primary">MAILING</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-primary">{{ mailingCantidad }}</span></h1>
            </div>
        </div>
        <div (click)="verOfertas()" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-warning">OFERTAS</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-warning">{{ ofertasCantidad }}</span></h1>
            </div>
        </div>
        <div (click)="verSuperOferta()" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-warning">SUPER OFERTA</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-warning">{{ superOfertaCantidad }}</span></h1>
            </div>
        </div>
        <div (click)="verSlideshow()" class="col-lg-4 col-md-6 col-xlg-4 col-xs-12 pointer">
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-info">SLIDESHOW</div>
                <h1 class="ribbon-content text-right"><span class="badge badge-pill badge-info">{{ slideshowCantidad }}</span></h1>
            </div>
        </div>

    </div>
</div>
