<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header bg-info">
                <h6 class="text-white">CODIGO {{ articulo.codigoInterno }} </h6>
                <h4 class="m-b-0 text-white">{{ articulo.nombre }} </h4>
                <h6 class="card-subtitle text-white text-right"> Creado por: {{ articulo.usuario.nombre }} </h6>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="editar( f )" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Datos Principales</h3>
                        <hr class="m-t-0 m-b-40">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="articulo.nombre" name="nombre" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Precio</label>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="articulo.precio" name="precio" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Costo</label>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="articulo.costo" name="costo" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Stock</label>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="articulo.stock" name="stock" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Info</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" [(ngModel)]="articulo.descripcion" name="descripcion" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        
                        <h3 class="box-title">Marcas</h3>
                        <hr class="m-t-0 m-b-40">
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    
                                    <div class="mr-3" *ngFor="let marca of marcas.marcas">
                                        <input [(ngModel)]="marca._id" name="marca" type="radio" id="{{ marca.nombre }}" *ngIf="articulo.marca.nombre !== marca.nombre" [value]="marca._id"/>
                                        <label for="{{ marca.nombre }}" *ngIf="articulo.marca.nombre !== marca.nombre">{{ marca.nombre }}</label>
                                    </div>
                                    <div>
                                        <input [(ngModel)]="articulo.marca._id" name="marca" type="radio" id="{{ articulo.marca.nombre }}" [value]="articulo.marca._id"/>
                                        <label for="{{ articulo.marca.nombre }}">{{ articulo.marca.nombre }}</label>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <div class="form-group row custom-control custom-switch">
                                            <input type="checkbox" [(ngModel)]="articulo.activo" name="activo" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">ACTIVO</label>
                                        </div>
                                    </div> -->
                                    <div class="col-md-offset-3 col-md-9 button-group">
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                        <button type="button" class="btn btn-inverse">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
